extends layout

block content
  include partials/navbar-authenticated
  div(class="container")
    h1 Add Friend
    include partials/error-message-alert
    form(action="/add-friend" method="POST")
      div(class="form-group")
        label(for="friend") Friend 
        datalist(id="usernames")
          each username in usernames
            option(value=username.username)
        input(list="usernames" class="form-control" name="friend" aria-describedby="addHelp" placeholder="Enter user" required)
      button(type="submit" class="btn btn-dark") Add Friend
