extends layout

block content
  include partials/navbar-authenticated
  div(class="container")
    h1 Record what You Wear Today!
    include partials/error-message-alert
  div(class="container")
    form(action="/add-worn" method="POST")
      div(class="form-group") 
        label(for="date") Choose date
        input(type="date" class="form-control" name="date"  required)
      div(class="form-group")
        label(for="closet") Closet Location
        select(class="form-control" id="closetSelect")
          each closet in closets
            option(value=closet.closet_id)=`${closet.location}`
      div(class="form-group" id="outfits")
      button(type="submit" class="btn btn-dark") Add Outfit of the Day


  script.

    // dynamically update display outfits based on chosen closet

    function populateOutfits(outfits) {
      const outfitChoiceSelect = document.createElement('select');
      outfitChoiceSelect.className += 'form-control';
      outfitChoiceSelect.name = 'outfit_name';

      outfits.forEach(outfit => {
        console.log(outfit);

        const outfitChoiceOption = document.createElement('option');
        outfitChoiceOption.value = outfit.outfit_name;
        outfitChoiceOption.name = 'outfit_name'
        outfitChoiceOption.textContent = outfit.outfit_name;

        outfitChoiceSelect.appendChild(outfitChoiceOption);
      })

      outfitChoices.appendChild(outfitChoiceSelect);
    }

    // unescaped code interpolation; see https://stackoverflow.com/questions/8698534/how-to-pass-variable-from-jade-template-file-to-a-script-file
    const outfits = !{JSON.stringify(outfits).replace(/<\//g, '<\\/')};

    // get selected closet location
    const closetSelectElement = document.getElementById('closetSelect');
    let selectedClosetID = JSON.parse(closetSelectElement.value);

    // display initial outfit choices
    const outfitChoices = document.getElementById('outfits');

    let outfitChoicesLabel = document.createElement('label');
    outfitChoicesLabel.htmlFor = 'outfits';
    outfitChoicesLabel.textContent = 'Outfits';
    outfitChoices.appendChild(outfitChoicesLabel);

    let validOutfits = outfits.filter(outfit => outfit.closet_id === selectedClosetID);

    populateOutfits(validOutfits);

    // update outfits upon closet selection
    closetSelectElement.addEventListener('change', event => {
      selectedClosetID = JSON.parse(closetSelectElement.value);

      validOutfits = outfits.filter(outfit => outfit.closet_id === selectedClosetID);

      // delete all nodes from outfitChoices
      while(outfitChoices.firstChild) {
        outfitChoices.removeChild(outfitChoices.firstChild);
      }

      // add label
      outfitChoices.appendChild(outfitChoicesLabel);

      //add all valid outfits
      populateOutfits(validOutfits);
    })





