extends layout

block content
  include partials/navbar-authenticated
  div(class="container")
    h1 Add Attire
    form(action="/add-attire" method="POST")
      div(class="form-group")
        label(for="closet") Closet Location
        select(class="form-control" name="closet")
          each closet in closets
            option(value=closet)=`${closet.location}`
      div(class="form-group")
        label(for="type") Type
        input(type="text" class="form-control" name="type" aria-describedby="typeHelp" placeholder="Enter type" required)
        small(id="typeHelp" class="form-text text-muted") e.g. sneaker, sweater, etc.
      div(class="form-group")
        label(for="name") Name
        input(type="text" class="form-control" name="name" placeholder="Enter the name of the attire" required)
      div(class="form-group")
        label(for="brand") Brand
        input(type="text" class="form-control" name="brand" placeholder="Enter brand" required)
      div(class="form-group")
        label(for="color") Color
        input(type="text" class="form-control" name="color" placeholder="Enter color" required)
      div(class="form-group")
        label(for="size") Size
        input(type="text" class="form-control" name="size" placeholder="Enter size" required)
      button(type="submit" class="btn btn-dark") Add Attire