extends layout

block content
    if user
        include partials/navbar-authenticated
        p Welcome, #{user.username}.
    else
        include partials/navbar-unauthenticated
        p #[a(href='./login') Login] if you have an account, or #[a(href='./register') register] today.
