extends layout

block content
  h1= 'whatdoiwear.today'
  if user
    p Welcome to whatdoiwear.today, #{user.username}!
  else
    p Welcome to whatdoiwear.today!

  div
    a(href='./login') Login
  div
    a(href='./register') Register