extends layout

block content
    a(href='./login') Login Page
    h1= "register"

    form(action='/register' method='POST')
        div
            label(for='username') Username: 
            input(type='text', name='username' required)
        div
            label(for='password') Password:
            input(type='password', name='password' required)
        button(type='submit') Submit
