extends layout

block content
  include partials/navbar-authenticated
  div(class="container")
    h1 Remove Friend
    include partials/error-message-alert
    form(action="/remove-friend" method="POST")
      div(class="form-group")
        label(for="friend") Friend
        select(class="form-control" name="username")
          each friend in friends
            option(value=friend.username)=`${friend.username}`
      button(type="submit" class="btn btn-dark") Remove Friend