extends layout

block content
    include partials/navbar-authenticated
    div(class="container")
        h1 Remove Outfit
        include partials/error-message-alert
    div(class="container")
        form(action="/remove-outfit" method="POST")
            div(class="form-group")
                label(for="closet") Closet Location
                select(class="form-control" id="closetSelect" name="closet")
                    each closet in closets
                        option(value=closet)=`${closet.location}`
            div(class="form-group")
                label(for="outfits") Outfits
                select(class="form-control" name="outfit_name")
                    each outfit in outfits
                        option(value=outfit)=`${outfit.outfit_name}`